/* App.css */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: green !important;
}

div {
  color: darkgreen !important;
}

button {
  background-color: darkgreen !important;
  color: white !important;
  /* Optional: Ensure text is readable */
  border-color: black !important;
  /* Optional: Ensure button has a border */
}

button:hover {
  background-color: green !important;
}

/* implement a moving background that is a gradient of different shades of green */
@keyframes gradient {
  0% {
    background-color: #155515;
  }

  25% {
    background-color: #235623;
  }

  50% {
    background-color: #455745;
  }

  75% {
    background-color: #155515;
  }

  100% {
    background-color: #155515;
  }
}

body {
  font-family: "Times New Roman", Times, serif !important;
}
